.modal-contenido{
    background-color:white;
    width:600px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
    border-radius: 1%;
}

.modal{
    background-color: rgb(35 37 72 / 80%);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 999;
    pointer-events:none;
}

.mostrar{
    opacity: 1;
}

.ocultar{
    opacity: 0;
}

#miModal:target{
    opacity:1;
    pointer-events:auto;
}

.modal-contenido h4{
    margin: 5px;
    padding: 0px;
    color: #796d6d;
}

.modal-contenido a{
    margin: 600px;
    z-index: 1;
}

.modal-contenido h2{
    color: #333369;
}

.modal-contenido img{
    width: 25%;
    margin: 4% 0%;
    height: 100px;
}