



/**/
.modal-contenido{
    background-color:white;
    width:600px;
    padding: 10px 20px;
    position: relative;
    border-radius: 1%;
    margin-top: 10%;
    margin-left: 20%;
    margin-bottom: 5%;
}

.modal{
    background-color: rgb(35 37 72 / 80%);
    position:fixed;
    right:0;
    bottom:-20px;
    left:0;
    z-index: 999;
}

.mostrar{
    display: block;
}

.ocultar{
    display: none;
}

.modal-contenido h4{
    margin: 5px;
    padding: 0px;
    color: #796d6d;
}

.modal-contenido a{
    margin: 580px;
    z-index: 1;
}

.cerrar{
    margin-left: 580px;
    z-index: 1;
}

.modal-contenido h2{
    color: #333369;
}

.modal-contenido img{
    width: 25%;
    margin: 4% 0%;
    height: 100px;
    border: 1px solid black;

}


.fondo-modal{
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}


.start-empty{
    cursor: pointer;
}

.start-full{
    cursor: pointer;
    color: #e4e400;
}

.item{
    cursor: pointer;
}