



<!-- countries and continents  -->

<div class="row">
  <div class="col-2">
    <app-countries [countries]="countriesAfrica" [titulo]="'Africa'" *ngIf="!loadingAfrica"></app-countries>
    <h3 *ngIf="loadingAfrica">Loading...</h3>
  </div>
  <div class="col-2">
    <app-countries [countries]="countriesAmerica" [titulo]="'America'" *ngIf="!loadingAmerica"></app-countries>
    <h3 *ngIf="loadingAmerica">Loading...</h3>
  </div>
  <div class="col-2">
    <app-countries [countries]="countriesAsia" [titulo]="'Asia'" *ngIf="!loadingAsia"></app-countries>
    <h3 *ngIf="loadingAsia">Loading...</h3>
  </div>
  <div class="col-2">
    <app-countries [countries]="countriesEuropa" [titulo]="'Europa'" *ngIf="!loadingEuropa"></app-countries>
    <h3 *ngIf="loadingEuropa">Loading...</h3>
  </div>
  <div class="col-2">
    <app-countries [countries]="countriesOceania" [titulo]="'Oceania'" *ngIf="!loadingOceania"></app-countries>
    <h3 *ngIf="loadingOceania">Loading...</h3>
  </div>
</div>
